.enlarged-image {
    max-width: 100%; /* Максимальная ширина изображения */
    max-height: 600px; /* Максимальная высота изображения */
    width: auto; /* Автоматическая ширина в пределах максимальной ширины */
    height: auto; /* Автоматическая высота в пределах максимальной высоты */
}
