/*todo.todo: make more files not on every page but on every component as header, footer ...*/
/*
    todo: use BEM to name classes
*/

@import "font.css";
body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
}

.background-image-container {
    background-image: url("../icon/main_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1586px;
    margin-top: -25px;
    z-index: 1;
}
.color-main{
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
.nav-menu{
    float: right;
    margin-left: auto;
}
.white-text{
    color: white;
}
#currentDayOfWeek {
    z-index: 10;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
/* Стили для полосы прокрутки */
.news-container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    background-color: rgba(0, 0, 0, 0.5); /* Цвет фона полосы прокрутки (полупрозрачный черный) */
}
.announcement-container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    background-color: rgba(0, 0, 0, 0.5); /* Цвет фона полосы прокрутки (полупрозрачный черный) */
}

/* Стили для ползунка (иконки) полосы прокрутки */
.news-container::-webkit-scrollbar-thumb {
    background-color: #333; /* Цвет ползунка (темный) */
    border-radius: 10px; /* Скругленные углы ползунка */
}
.announcement-container::-webkit-scrollbar-thumb {
    background-color: #333; /* Цвет ползунка (темный) */
    border-radius: 10px; /* Скругленные углы ползунка */
}

.announcement-container{
    max-height: 400px; /* Устанавливает максимальную высоту контейнера */
    overflow-y: auto; /* Включает вертикальную полосу прокрутки */
    overflow-x: hidden; /* Скрывает горизонтальную полосу прокрутки */
    direction: rtl; /* Изменяет направление прокрутки на справа налево */
}

.custom-h2 {
    margin-top: 20px;
}


