<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style/index.css">
    <link rel="stylesheet" type="text/css" href="/style/home.css">
</head>
<body>
<header th:replace="components/header :: header"></header>
<div class="container-fluid background-image-container">
    <div class="row">
        <div class="col-md-4 highlighting_in_white">
            <h2 class="text-center">Новости</h2>
            <div class="news-container" style="max-height: 690px; overflow-y: auto; position: relative; z-index: 2;">
                <!-- Вывод двух новостей -->
                <th:block th:each="news, iterStat : *{allNews}">
                    <th:block th:if="${iterStat.index < 2}">
                        <div class="announcements-news">
                            <h2 class="custom-h2" th:if="${news.title}">
                                <a th:text="${news.title}" th:href="@{'/news/details/' + ${news.id}}"></a>
                            </h2>
<!--                            <p th:if="${news.text}" th:text="${#strings.length(news.text) > 30 ? #strings.substring(news.text, 0, 30) + '...' : news.text}"></p>-->
                            <img th:if="${news.imageUrl != null}" th:src="@{'/download/' + ${news.id}}" class="img-fluid custom-img-home" alt="News Image" style="max-width: 100%; max-height: 200px;"/>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <a th:href="@{'/news/all'}" class="btn btn-primary" style="background-color: #902738; border-color: #902738;">Смотреть все новости</a>
        </div>
        <div class="col-md-4" th:if="${additionalInfoList.size() > 0}">
            <div id="currentDayOfWeek"></div>
            <p class="text-center" style="font-size: 18px; font-weight: bold; color: #000000; margin-top: 20px;"> Цитата дня</p>
            <p class="text-center" style="font-size: 18px; font-weight: bold; color: #000000; margin-top: 20px;">
                <span th:text="${quoteList[randomIndex].quoteText}"></span> <br>
                <span style="font-size: 14px; font-style: italic; color: #000000;">
            <span th:text="${quoteList[randomIndex].authorName}"></span>
        </span>
            </p>
            <p><span class="color-main"></span></p>
            <div class="color-main link-highlight">
                <ul>
                    <li th:each="additionalInfo : ${additionalInfoList}" class="white-text">
                        <a th:href="@{'/details/info/' + ${additionalInfoList.indexOf(additionalInfo) + 1} + '?id=' + ${todayDay.id}}"
                           style="text-decoration: none;">
                            <span th:text="${additionalInfo}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4" th:if="${additionalInfoList.size() == 0}">
            <p>Нет доступной информации о дне.</p>
        </div>
        <div class="col-md-4 highlighting_in_white">
            <h2 class="text-center">Объявления</h2>
            <div class="announcement-container" style="max-height: 690px; overflow-y: auto; position: relative; z-index: 2;">
                <!-- Вывод двух объявлений -->
                <th:block th:each="announcement, iterStat : *{latestAnnouncement}">
                    <th:block th:if="${iterStat.index < 2}">
                        <div class="announcements-news">
                            <h2 class="custom-h2" th:if="${announcement.title}">
                                <a th:text="${announcement.title}" th:href="@{'/announcements/details/' + ${announcement.id}}"></a>
                            </h2>
<!--                            <p th:if="${announcement.text}" th:text="${#strings.length(announcement.text) > 30 ? #strings.substring(announcement.text, 0, 30) + '...' : announcement.text}"></p>-->
                            <img th:if="${announcement.imageUrl != null}" th:src="@{'/download/announcement/' + ${announcement.id}}" class="img-fluid custom-img-home" alt="Announcement Image"/>
                        </div>
                    </th:block>
                </th:block>
                <h4>
                <a th:href="@{'/announcement/all'}" class="btn btn-primary" style="background-color: #902738; border-color: #902738;">Смотреть все объявления</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="style-head"></div>
<div class="under-style"></div>
<img th:class="img-fluid" alt="низ" th:src="@{/icon/under_head.png}">
<script src="/js/bootstrap.js"></script>
<script src="/js/calendar_day.js"></script>
</body>
</html>
